*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.navbar{
  background: crimson;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li{
  list-style: none;
  display: inline-block;
}
li a{
  color: white;
  font-size: 18px;
  margin-right: 25px;
}
.logo a{
  color: white;
  font-size: 35px;
  font-weight: 600;
}

button{
  background-color: black;
  margin-left: 10px ;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}
button a{
  color: white;
  font-weight: bold;
  font-size: 15px;
}