*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav{
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: crimson;
}
.nav-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
li a{
    color: white;
    font-size: 18px;
    margin-right: 15px;
}
.logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

button{
    background-color: black;
    width: 90px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}

button a{
    color: white;
    font-size: 15px;
    font-weight: bold;
}