body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

.container {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 30px;
    border-radius: 10px;
}

h1{
    margin-bottom: 20px;
}

h2{
    font-size: 40px;
    margin-bottom: 20px ;
}

button{
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #0077cc;
    color:white
}