h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0,0%,25%);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
